# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage
htmlcov/
.coverage
.coverage.*

# Expo / React Native
.expo/
node_modules/
gomatch-app/node_modules/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
dist/
