Django>=5.0
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
django-cors-headers
django-filter
drf-spectacular
Pillow
cloudinary
django-cloudinary-storage
factory_boy
gunicorn
dj-database-url
whitenoise
stripe
python-dotenv
requests
channels
channels_redis
daphne
celery
django-celery-beat
redis
supervisor
